<!-- отображение котов,столов -->

<p *ngIf="cat1==1" class="cat1">LVL {{catUp1}}</p>
<img src="assets/media/кот2.gif"  class="cat1" alt="lorem" *ngIf="cat1==1">
<p *ngIf="cat2==1"  class="cat2">LVL {{catUp2}}</p>
<img src="assets/media/кот3.gif"  class="cat2" alt="lorem" *ngIf="cat2==1">
<p *ngIf="cat3==1"  class="cat3">LVL {{catUp3}}</p>
<img src="assets/media/кот1.gif"  class="cat3" alt="lorem" *ngIf="cat3==1">
<p *ngIf="cat4==1"  class="cat4">LVL {{catUp4}}</p>
<img src="assets/media/кот4.gif"  class="cat4" alt="lorem" *ngIf="cat4==1">

<p *ngIf="table1==1"  class="table1">LVL {{tableUp1}}</p>
<img src="assets/media/стол2.png" class="table1" alt="lorem" *ngIf="table1==1">
<p *ngIf="table2==1"  class="table2">LVL {{tableUp2}}</p>
<img src="assets/media/стол1.png" class="table2" alt="lorem" *ngIf="table2==1">
<p *ngIf="table3==1"  class="table3">LVL {{tableUp3}}</p>
<img src="assets/media/стол3.png" class="table3" alt="lorem" *ngIf="table3==1">
<p *ngIf="table4==1"  class="table4">LVL {{tableUp4}}</p>
<img src="assets/media/стол4.gif" class="table4" alt="lorem" *ngIf="table4==1">