.musicItems{
    background-color:rgb(138, 158, 102);
    height:150px;
    width:400px;
    margin-top:-160px;
    margin-left:800px;
    z-index:1;
    position: absolute;
    }

  .music {
      position: absolute;
      overflow: hidden; 
      width: 15%;
      transition: 1s; 
      display: block; 
      object-fit: cover;
      margin-top:-30%;
      margin-left:80%;
    }
  
    .music:hover {
      transform: scale(1.2);
    }