
<!-- тут располагается магазин,деньги,улучшения, покупки -->

<div id="money" class="myMoney"><img src="assets/media/валюта.gif" width="80px" alt="lorem"> <p class="moneytext">{{money}}</p> </div>

<img src="assets/media/магазин.png" alt="" class="shop"  (click)="getOperation()"   *ngIf="result==1">
<img src="assets/media/магазин.png" alt="" class="shop"  (click)="getOperation1()"   *ngIf="result==0">

<div *ngIf="result==0" class="shopItems">

<img src="assets/media/JSX.gif" alt="" class="upEffect"  *ngIf="upEffect==1">

<p class="smltext"></p> <img src="assets/media/кот2.gif" class="smlImg" alt="lorem">
        
<button (click)="cat1()" *ngIf="cats1==0"><b>купить за 30$</b></button>
<button *ngIf="cats1==1" (click)="catUp1()"><font color="green" size="2px"><b>улучшить 900$</b></font></button>

  
        
<p class="smltext"></p><img src="assets/media/кот3.gif" class="smlImg" alt="lorem">
        
<button (click)="cat2()" *ngIf="cats2==0"><b>купить за 50$</b></button>
<button *ngIf="cats2==1" (click)="catUp2()"><font color="green" size="2px"><b>улучшить 1500$</b></font></button>

        
<p class="smltext"></p><img src="assets/media/кот1.gif" class="smlImg" alt="lorem">
  
<button  (click)="cat3()" *ngIf="cats3==0"><b>купить за 200$</b></button>
<button *ngIf="cats3==1" (click)="catUp3()"><font color="green" size="2px"><b>улучшить 2000$</b></font></button>

<p class="smltext"></p><img src="assets/media/кот4.gif" class="smlImg" alt="lorem">
        
<button  (click)="cat4()" *ngIf="cats4==0"><b>купить за 1000$</b></button>
<button *ngIf="cats4==1" (click)="catUp4()"><font color="green" size="2px"><b>улучшить 3000$</b></font></button>


<p class="smltext"></p><img src="assets/media/стол2.png" class="smlImg" alt="lorem">
  
<button (click)="table1()" *ngIf="tablle1==0"><b>купить за 30$</b></button>
<button *ngIf="tablle1==1" (click)="tableUp1()"><font color="green" size="2px"><b>улучшить 700$</b></font></button>
        
<p class="smltext"></p><img src="assets/media/стол1.png" class="smlImg" alt="lorem">
  
<button   (click)="table2()" *ngIf="tablle2==0"><b>купить за 40$</b></button>
<button *ngIf="tablle2==1" (click)="tableUp2()"><font color="green" size="2px"><b>улучшить 1000$</b></font></button>
  
<p class="smltext"></p><img src="assets/media/стол3.png" class="smlImg" alt="lorem">
  
<button (click)="table3()" *ngIf="tablle3==0"><b>купить за 150$</b></button>
<button *ngIf="tablle3==1" (click)="tableUp3()"><font color="green" size="2px"><b>улучшить 1500$</b></font></button>

<p class="smltext"></p><img src="assets/media/стол4.gif" class="smlImg" alt="lorem">

<button (click)="table4()" *ngIf="tablle4==0"><b>купить за 900$</b></button>
<button *ngIf="tablle4==1" (click)="tableUp4()"><font color="green" size="2px"><b>улучшить 2500$</b></font></button>

</div>
<!-- передача значений в дочерний компонент -->
<app-cat [cat1]="cats1" [cat2]="cats2" [cat3]="cats3" [cat4]="cats4" [table1]="tablle1" [table2]="tablle2" [table3]="tablle3"  [table4]="tablle4" [catUp1]="catsUp1" [catUp2]="catsUp2" [catUp3]="catsUp3" [catUp4]="catsUp4" [tableUp1]="tablleUp1" [tableUp2]="tablleUp2" [tableUp3]="tablleUp3"  [tableUp4]="tablleUp4" ></app-cat>



